<a href="https://colab.research.google.com/github/AndressaRodrigues/Desafio_do_grupo/blob/main/Exerc%C3%ADcio_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Desafio python

Using Python, you must find the best players, the most expensive ones and what are their nationalities.

In [ ]:
import pandas as pd


uri = "https://raw.githubusercontent.com/rsip22/101/master/Python/process_players_data/data.csv"

In [ ]:
dados = pd.read_csv(uri)

In [ ]:
#list(dados.columns)

Melhor reputação

In [ ]:
rep_int = dados[(dados['international_reputation'] == 5)]
rep_int[['full_name', 'nationality']]

                       full_name nationality
0   C. Ronaldo dos Santos Aveiro    Portugal
1                   Lionel Messi   Argentina
2     Neymar da Silva Santos Jr.      Brazil
3                    Luis Suárez     Uruguay
4                   Manuel Neuer     Germany
31            Zlatan Ibrahimović      Sweden

Maiores salários

In [ ]:
caros = dados.sort_values(['eur_wage'],ascending=False)
caros[['full_name', 'eur_wage', 'nationality']].head(10)

                       full_name  eur_wage nationality
0   C. Ronaldo dos Santos Aveiro  565000.0    Portugal
1                   Lionel Messi  565000.0   Argentina
3                    Luis Suárez  510000.0     Uruguay
15                   Gareth Bale  370000.0       Wales
5             Robert Lewandowski  355000.0      Poland
8                     Toni Kroos  340000.0     Germany
14                   Luka Modrić  340000.0     Croatia
16                 Sergio Agüero  325000.0   Argentina
10           Sergio Ramos García  310000.0       Spain
7                    Eden Hazard  295000.0     Belgium

Maior multa por quebra de contrato

In [ ]:
caros = dados.sort_values(['eur_release_clause'],ascending=False)
caros[['full_name', 'eur_release_clause', 'nationality']].head(10)

                       full_name  eur_release_clause nationality
2     Neymar da Silva Santos Jr.         236800000.0      Brazil
1                   Lionel Messi         215300000.0   Argentina
3                    Luis Suárez         198900000.0     Uruguay
0   C. Ronaldo dos Santos Aveiro         195800000.0    Portugal
7                    Eden Hazard         174200000.0     Belgium
8                     Toni Kroos         162000000.0     Germany
11               Kevin De Bruyne         159800000.0     Belgium
21             Antoine Griezmann         159400000.0      France
5             Robert Lewandowski         151800000.0      Poland
15                   Gareth Bale         142500000.0       Wales